<ion-view hide-nav-bar="true" scroll="false">
    <ion-header-bar class="bar bar-header background-yellow" align-title="center">
        <h1 class="title">Details</h1>
    </ion-header-bar>
    <ion-content class="" scroll="false">
        <label class="item item-input item-floating-label" focus-me>
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" focus-me>
        </label>
        <label class="item item-input item-floating-label" focus-me>
            <span class="input-label">Phone</span>
            <input type="text" placeholder="Last Name" focus-me>
        </label>
        <label class="item item-input item-floating-label" focus-me>
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" focus-me>
        </label>
        <div class="padding">
            <button class="button button-full background-yellow bold-font" type="submit" onclick="alert('Booking Done!')">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>