<ion-view view-title="PLAN YOUR TRIP" hide-nav-bar="true">
	<!--<div class="bar bar-header background-yellow no-border-bottom">
	  <button class="button button-icon icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
	  <div class="title">PLAN YOUR TRIP</div>
	  <button class="button button-icon icon ion-navicon"></button>
	</div>-->
	<ion-pane scroll="false">
		<div id="detail-div1 background-white">
			<img class="over-img" src="img/etihad3.jpg" align="middle" width="50%" height="50%">
		</div>
		<div class="button-bar">
			  <a class="button background-yellow bb-font bb-active">ECONOMY</a>
			  <a class="button background-yellow bb-font">DELUXE</a>
			  <a class="button background-yellow bb-font">ELITE</a>
		</div>
		<div id="detail-div2"  class="background-white padding-detail">
			<div class="height10 table-full">
				<p class="word-wrap table-center"  style="font-size:10px; line-height:10px;">An Introduction about the app would come here. A Small brief about the app. Purpose of app or about Go Iharam text can be placed here
				</p>
			</div>
			<div class="height50">
				<!--<div class="height33 row">
				<div class="col"><a href="" class="button icon">
          		<i class="icon ion-ionic my-icon">
          		</i><p style="font-size:10px !important">Text</p></a></div>
          		<div class="col"><a href="" class="button button-icon">
          		<i class="icon ion-ionic my-icon">
          		</i>Text</a></div>
          		<div class="col"><a href="" class="button button-icon">
          		<i class="icon ion-ionic my-icon">
          		</i>Text</a></div>
          		<div class="col"><a href="" class="button button-icon">
          		<i class="icon ion-ionic my-icon">
          		</i>Text</a></div>
          		</div>-->
			<div class="height33 padding-icons">
				<div class="" style="height:100%">
					<button style="width:23%" class="button icon ion-star"></button>
					<button style="width:23%" class="button icon ion-android-plane"></button>
					<button style="width:23%" class="button icon ion-android-bus"></button>
					<button style="width:23%" class="button icon ion-star"></button>
				</div>
			</div>
			<div class="height33 padding-icons">
				<div class="" style="height:100%">
					<button style="width:23%" class="button icon ion-android-bus"></button>
					<button style="width:23%" class="button icon ion-star"></button>
					<button style="width:23%" class="button icon ion-android-plane"></button>
					<button style="width:23%" class="button icon ion-star"></button>
				</div>
			</div>
			<div class="height33 padding-icons">
				<div class="" style="height:100%">
					<button style="width:23%" class="button icon ion-star"></button>
					<button style="width:23%" class="button icon ion-android-plane"></button>
					<button style="width:23%" class="button icon ion-star"></button>
					<button style="width:23%" class="button icon ion-android-bus"></button>
				</div>
			</div>
			</div>
			<div class="height40 table-full" style="padding:10%">
				<button class="button background-yellow bold-font table-center" type="submit " style="width:100% ">BOOK NOW (15,995/-)</button>
			</div>
		</div>
	</ion-pane>
</ion-view>
<!--#EABF15-->