<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header background-yellow" align-title="center">
    <a class="button button-icon icon ion-ios-arrow-back" href="#/app/search"></a>
      <h1 class="title">Details</h1>
    </ion-header-bar>
    <ion-content class="has-header">
    <div class=" row height25">
        <div class="col col-33">                    
            <img class="over-img" src="img/etihad3.jpg" align="middle" width="100%" height="100%">
        </div>
        <div class="col">
            <div class="row">
                <h5 class="word-wrap bold-font no-margin-top">Ahmed World Travels Tours & Cargo Pvt Ltd</h5>
            </div>
            <button class="button background-white color-logo border-yellow " type="submit " style="width:100%" >BOOK NOW (15,995/-)</button>
        </div>
    </div>
    <div class="button-bar">
              <a class="button background-yellow bb-font bb-active">ECONOMY</a>
              <a class="button background-yellow bb-font">DELUXE</a>
              <a class="button background-yellow bb-font">ELITE</a>
    </div>
    <div class="row height20" style="padding-top:5%">
        <div class="col text-center">
            <a class="button background-white icon ion-star">
             </a>
             <div class="row">
                <div class="col text-center font-9">
                4 Star Hotel
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-yellow icon ion-android-plane">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                Direct Flight
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-white icon ion-android-bus">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                A/C Deluxe Bus
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-yellow icon ion-star">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                2 Star Hotel
                </div>
             </div>
        </div>
    </div>
    <div class="row height20" style="padding-top:5%">
        <div class="col text-center">
            <a class="button background-yellow icon ion-android-bus">
             </a>
             <div class="row">
                <div class="col text-center font-9">
                A/C Deluxe Buses
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-white icon ion-star">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                4 Star Hotel
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-yellow icon ion-android-plane">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                Direct Flight
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-white icon ion-star">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                4 Star Hotel
                </div>
             </div>
        </div>
    </div>
    <div class="row height20" style="padding-top:5%">
        <div class="col text-center">
            <a class="button background-yellow icon ion-star">
             </a>
             <div class="row">
                <div class="col text-center font-9">
                4 Star Hotel
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-yellow icon ion-android-plane">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                Direct Flight
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-white icon ion-star">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                4 Star Hotel
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-yellow icon ion-android-bus">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                A/C Deluxe Buses
                </div>
             </div>
        </div>
    </div>
    <div class="row height20" style="padding-top:5%">
        <div class="col text-center">
            <a class="button background-yellow icon ion-star">
             </a>
             <div class="row">
                <div class="col text-center font-9">
                4 Star Hotel
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-yellow icon ion-android-plane">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                Direct Flight
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-white icon ion-star">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                4 Star Hotel
                </div>
             </div>
        </div>
        <div class="col text-center">
            <a class="button background-yellow icon ion-android-bus">
            </a>
            <div class="row">
                <div class="col text-center font-9">
                A/C Deluxe Buses
                </div>
             </div>
        </div>
    </div>
    </ion-content>
</ion-view>
