<ion-view view-title="PLAN YOUR TRIP" hide-nav-bar="true">
    <!--<div class="bar bar-header background-yellow no-border-bottom">
	  <button class="button button-icon icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
	  <div class="title">PLAN YOUR TRIP</div>
	  <button class="button button-icon icon ion-navicon"></button>
	</div>-->
    <ion-pane scroll="false">
        <div id="detail-div1 background-white">
            <img class="over-img" src="img/etihad3.jpg" align="middle" width="50%" height="50%">
        </div>
        <div class="button-bar">
            <a class="button background-yellow bb-font" ng-repeat="package in data.packages" ng-click="select({{package.package_id}})" ng-class="{'bb-active':isSelected({{package.package_id}})}">{{package.packname}}</a>

        </div>
        <div id="detail-div2" class="background-white padding-detail">
            <div class="height10 table-full">
                <p class="word-wrap table-center" style="font-size:10px; line-height:10px;">{{data.about}}
                </p>
            </div>
            <div class="height50">
                <div class="height33 padding-icons">
                    <div class="" style="height:100%">
                        <a ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-document" ng-disabled="true"></a>
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-plane"></button>
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-bookmark"></button>
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-ios-book"></button>
                    </div>
                </div>
                <div class="height33 padding-icons">
                    <div class="" style="height:100%">
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-ios-home"></button>
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-waterdrop"></button>
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-knife"></button>
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-android-bus"></button>
                    </div>
                </div>
                <div class="height33 padding-icons">
                    <div class="" style="height:100%">
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-star"></button>
                        <button ng-class="'icon-dead'" style="width:23%" class="button icon ion-android-plane"></button>
                        <button ng-class="'{{isAvail()}}'" style="width:23%" class="button icon ion-star"></button>
                        <button ng-class="'icon-dead'" style="width:23%" class="button icon ion-android-bus"></button>
                    </div>
                </div>
            </div>
            <div class="height40 table-full" style="padding:10%">
                <button class="button background-yellow bold-font table-center" type="submit " style="width:100% " ng-click="book()">BOOK NOW (Rs. {{price}}/-)</button>
            </div>
        </div>
    </ion-pane>
</ion-view>
<!--#EABF15-->