<ion-view hide-nav-bar="true" scroll="true">
    <ion-content class="background-white font-titilium">
        <div class="height50 background-logo">
            <img class="over-img padding-landing-image" align="middle" src="img/logo2.jpg" width="100%" height="100%">
        </div>
        <div class="height20">
            <div class="height50">
                <div class=" height40 text-center">
                    <h5 class="font-normal font-titilium">WELCOME TO</h5>
                </div>
                <div class="height60 text-center">
                    <h3>GO IHRAM</h3>
                </div>
            </div>
            <div class="height50 word-wrap text-center font-titilium font-12 padding-landing">
                An Introduction about the App would come here. A small brief about the app. Purpose of app or about Go Ihram text can be placed here
            </div>
        </div>
        <div class="height30 padding-landing-icons">
            <div class="row height60">
                <div class="col text-center">
                    <a class="button background-yellow icon ion-clipboard" href="#/app/search">
                    </a>
                    <div class="row">
                        <div class="col text-center">
                            Plan
                        </div>
                    </div>
                </div>
                <div class="col text-center" ng-disabled="true">
                    <a class="button background-yellow icon ion-ios-world-outline" href="#/app/browse">
                    </a>
                    <div class="row">
                        <div class="col text-center">
                            Track
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <a class="button background-yellow icon ion-chatbox-working" href="#/app/results">
                    </a>
                    <div class="row">
                        <div class="col text-center">
                            Review
                        </div>
                    </div>
                </div>
            </div>
            <div class="height40">
            </div>
        </div>
    </ion-content>
</ion-view>