<ion-view hide-nav-bar="true">
    <ion-content>
        <div id="login-div1" style="background-color:black">
            <img class="over-img" align="middle" src="img/logo.jpg" width="100%" height="100%">
        </div>
        <div id="login-div2" class="table-full">
            <h4 class="table-center">Lorem Ipsum Loren</h4>
        </div>
        <div id="login-div3">
        <form ng-submit="doLogin()">
            <div class="height20">
            <a class="item-input-wrapper" style="background:#FFCC00">
                <i class="button button-clear ion-person login-rounded-left" ></i>
                <input type="text " placeholder="  Username " ng-model="loginData.username " style="height:47px">
            </a>
            </div>
            <div class="height20">
            <a class="item-input-wrapper positive " style="background:#FFCC00 ">
                <i class="button button-clear ion-locked login-rounded-left"></i>
                <input type="password " placeholder="  Password " ng-model="loginData.password " style="height:47px">
            </a>
            </div>
            <div class="height60">
            <button class="button button-full button-positive">Login</button>
            </div>
            </div>
        </form>
        </div>
    </ion-content>
</ion-view>