<ion-view hide-nav-bar="true" scroll="true">
    <ion-content class="background-yellow">
        <div id="login-div1" style="background-color:black">
            <img class="over-img" align="middle" src="img/logo.jpg" width="100%" height="100%">
        </div>
        <div class="table-full height17">
            <h4 class="table-center">Happy Pilgrimage to you!</h4>
        </div>

        <div class="padding-textbox">
            <a class="item-input-wrapper" style="background:#FFCC00" focus-me>
                <i class="button button-clear ion-person rounded-left background-black"></i>
                <input type="text" class="rounded-right" placeholder="  Username " ng-model="data.uid" style="height:47px;width:100%">
            </a>
        </div>
        {{uid}}
        <div class="padding-textbox">
            <a class="item-input-wrapper" style="background:#FFCC00 " focus-me>
                <i class="button button-clear rounded-left background-black ion-locked login-rounded-left"></i>
                <input type="password " class="rounded-right" placeholder="  Password " ng-model="data.pwd" style="height:47px;width:100%">
            </a>
        </div>
        <div class="padding-login">
            <button class="button button-full rounded background-black color-yellow bold-font" type="button" sweetalert sweet-options="{title: 'Are you sure?',text: 'You will not be able to recover this imaginary file!',type: 'warning',showCancelButton: true,confirmButtonColor: '#DD6B55',confirmButtonText: 'Yes, delete it!',cancelButtonText: 'No, cancel plx!'}" sweet-confirm-option="{title: 'Deleted!',text: 'Your imaginary file has been deleted.',type: 'success'}" sweet-cancel-option="{title: 'Cancelled!',text: 'Your imaginary file is safe',type: 'error'}" type="submit" name="login-submit" sweet-on-cancel="checkCancel()" sweet-on-confirm="checkConfirm()" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">ogin
            </button>
        </div>
        <div class="row ">
            <div class="col col-20 ">
            </div>
            <div class="col col-20 " style="text-align:right ">
                Signup
            </div>
            <div class="col col-10 " style="text-align:center ">
            </div>
            <div class="col " style="text-align:left ">
                Forgot Password?
            </div>
        </div>

    </ion-content>
</ion-view>