<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="navbar">
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="300">

        <ion-content class="my-view">
            <img src="img/logo.jpg" width="100%" height="25%">
            <ul class="list">
                <a href="#/app/login" class="item assertive-bg" nav-clear menu-close><i class="icon-left ion-home"> </i>Login</a>
                <a href="#/app/search" class="item assertive-bg" nav-clear menu-close><i class="icon-left ion-search"> </i>Search</a>
                <a href="#/app/browse" class="item assertive-bg" nav-clear menu-close><i class="icon-left ion-ios-list-outline"> </i>Browse</a>

            </ul>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>