/* Empty. Add your own CSS if you like */
.scroll-content > .scroll {
  height: 100%;
}
.scroll-content > .scroll > iframe {
  min-height: 100%;
}
.background-yellow{
	background-color: #FFCC00; 
}
.background-bla{
	background-color: #FF0CF0; 
}
.background-white{
	background-color : white !important;
}
.table-full {
  display: table;
  width: 100%;
}
.table-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.word-wrap{
	word-wrap: break-word;
}
#login-div1{
	height: 35%
}
#login-div2{
	height: 20%
}
#login-div3{
	height: 20%
}
#login-div4{
	height: 25%;
}
.background-black{
	background: black !important;
}
.font-yellow{

}
.rounded-left{
	border-top-left-radius:10px;
	border-top-right-radius:0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:0px;
}
.rounded-right{
	border-top-left-radius:0px;
	border-top-right-radius:10px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:10px;
}
#search-div1{
	height: 20%;
}
#search-div2{
	height: 60%;
}
#search-div3{
	height: 20%;
}
#detail-div1{
	height: 30%;
}
#detail-div2{
	height:70%;
}
.height25{
	height: 25%
}
.height80{
	height:80%;
}
.height70{
	height:70%;
}
.height60{
	height:60%;
}
.height15{
	height:15%;
}
.height50{
	height:50%;
}
.height40{
	height:40%;
}
.height17{
	height: 17%;
}
.over-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.height30{
	height:30%;
}
.height33{
	height:33%;
}
.height20{
	height:20%;
}
.height10{
	height:10%;
}
.height15{
	height:15%;
}
.width80{
	width:80%;
}
.width20{
	width:20%;
}
.height-auto{
	height: auto;
}
.bla{
	line-height: 400% !important;
	font-weight: bold;
}
.padding-detail{
	/*padding-left : 1%;
	padding-right: 5%;
	padding-top: 10%;*/
	padding: 7%
}
.searchitem-header{
	padding-top:16px;
	color: #C0C0C0;
	text-align:center;
	font-size:initial;
}
.searchitem-content{
	font-weight: bold;
	text-align:center;
	font-size:larger;
}
.no-rounded-corners{
	border-radius: 0 !important;
}
.no-padding{
	padding: 0px !important;
}
.padding-icons{
	padding-top: 5%;
}
.padding-form{
	padding: 7% !important;
}
.padding-sides{
	padding-left: 10%;
	padding-right: 10%;
}
.no-margin-bottom{
	margin-bottom: 0px !important;
}
.bold-font{
	font-weight: bold;
}
.no-border-bottom{
	border-bottom-width: 0px !important;
}
.bb-font{
	font-size: 12px !important;
	font-weight: bold;
}
.bb-active{
	background-color: #e7ca55 !important 
}
.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
.my-icon:before,
.my-icon{
  font-size:40px !important;
  display:block !important;
}
.color-yellow{
	color:  #FFCC00;
}
.mybar {
    background-size: 100% 0px !important;
    background: #FFCC00 !important
}
.rounded{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.padding-textbox{
	padding-top: 2%;
}
.padding-login{
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%
}
.border-yellow{
	border-color: white !important;
}
